<h1>Success Alert</h1>
<div class="mw-50 mt-3 me-3 p-3 bg-success">
    <div class="d-flex flex-row">
        <i class="fas fa-check-square fs-1 pe-2 d-flex align-items-center"></i>
        <h1 class="fs-1 mb-0">Success</h1>
    </div>
    <hr>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet maiores officia neque obcaecati. Dolor facere
        ducimus magnam modi nobis incidunt voluptates, ut exercitationem reprehenderit facilis veritatis tenetur quaerat
        obcaecati doloremque laboriosam libero est molestiae accusantium.
    </p>
</div>